body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
}

header {
    background-color: #69a7e2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.formulario {
    width: 320px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #69a7e2;
    border-radius: 12px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
    background-color: #a6b4c1;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=file] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #69a7e2;
    color: white;
    border: none;
    border-radius: 5px;
}